html {
  font-family:-apple-system,'BlinkMacSystemFont','Segoe UI','Avenir','Helvetica Neue','Helvetica','Arial',"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 14px;
}
header {
  background-color: #282B46;
}
header:after {
  background: url(../images/ribbon.png) 0 0/100% no-repeat;
}
article > aside .menu .dd-item.active > div * {
  font-weight: bold;
  border-bottom: dotted 1px blue;
}
section strong {
  font-weight: bolder;
}

#body-inner h3, .page h3 {
  line-height: normal;
  font-size: 1.25rem !important;
  margin-top: 1.5rem !important;
  margin-bottom: 0.3rem !important;
  color: #333;
}

#body-inner h2, .page h2 {
  font-size: 1.75rem !important;
  margin-top: 3rem !important;
  margin-bottom: 0.8rem !important;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3rem !important;
}

#body-inner ul, .page ul {
  margin-top: 0 !important;
  margin-bottom: 1.5rem !important;
}
